@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');
:root{
    --modal-duration: 1s;
    --primary-color: #30336b;
    --secondary-color: #be2edd;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Kiwi Maru',sans-serif;
    margin: 0;
}

